extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Заголовок-ссылка';
    - var pageClass = 'body--dashboard';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
        Заголовок-ссылка

    //- Демонстрация компонента
    .ui-kit__component-demo
        +headline-link('новые записи в ', '#', 'блоге')

    //- Код для вызова компонента
    .ui-kit__component-code
        pre.
            +headline-link(title, link, titleLink)

    //- Файл в котором описан компонент
    .ui-kit__element-title.
        Название файла:
        mixins/headline-link.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
        pre.
            mixin headline-link(title, link, titleLink)
              h2.header__link&attributes(attributes) #{title}
                a(href= link) #{titleLink}