extends ./layout/ui-layout.pug
include ./mixins/*.pug
include ./../mixins/*.pug

block variables
    - var title = 'Кнопки - UI-kit и HTML фреймворк - Документация';
    - var pageClass = 'body--dashboard dark-bg';

block content

    //- Заголовок компонента
    h1.ui-kit__component-title.
      Иконка соцсетей

    //- Демонстрация компонента
    .ui-kit__component-demo
      +social-icons('#', 'vk')


    //- Код для вызова компонента
    .ui-kit__component-code
      pre.
        +social-icons('#', 'vk')

    //- Файл в котором описан компонент
    .ui-kit__element-title.
      Название файла:
      mixins/social-icons.pug

    //- Распечатка кода компонента
    .ui-kit__element-code
      pre.
        mixin social-icons(link, img)
          a(class="social-icons__item" href= link)&attributes(attributes)
            img(src="./../img/icons/social/" + img + ".svg", alt= img)