.section-footer 
  .container 
    .row 
      .col.section-footer__copyright 
        p &#169; Юрий Ключевский передал Леонтьеву Василию
        p Создано в WebCademy.ru в 2020 году 

      .col.section-social-icons 
        +social-icons('#', 'youtybe')
        +social-icons('#', 'instagram')
        +social-icons('#', 'facebook')
        +social-icons('#', 'vk')
        +social-icons('#', 'linkedin')
        +social-icons('#', 'github')