// Fonts
$baseFont: "Open Sans", sans-serif;
$accentFont: "Merriweather", serif;
$codeFont: Consolas, Monaco, Lucida Console, monospace;

// Colors
$white: #fff;
$blue: #037ec6;
$grayText: #666666;
$lightGrayText: #c4c4c4;
$lightGrayBg: #f5f5f5;
$grayBg: #808080;

// Components
$linkColor: $blue;

// font-main
$font1: 'Playfair Display', serif;
$font2: 'Montserrat', sans-serif;

// Colors-main
$white: #fff;
$white1: #f5f7fa;
$white2: #e0e0e0;
$black: #000;
$black1: #131313;

$red1: #FF343D;
$red2: #C93535;
$red3: #E81F1F;
$red4: #A01717;
$red5: #DD4E55;

$grey1: #EAEFF2;
$grey2: rgba(45, 77, 115, 0.3);
$grey3: #C4D0D7;
$grey4: #DEF1FD;
$grey5: #49525B;
$grey6: #DDE8F6;
$grey7: #C3CFDE;
$grey8: rgba(126, 155, 189, 0.3);
$grey9: rgba(139, 177, 223, 0.3);

$blue1: #1647ED;
$blue2: rgba(71, 137, 215, 0.3);
$blue3: #7E9BBD;
$blue4: #1647ed;

$yellow1: #f2e09f;

$green: #61d392;
