.selected-text {
  padding: 5px 10px;
  font-family: $font2;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
}